* {
	box-sizing: border-box;
}

body {
	font-size: 15px;
	background: #f5f5f5;
}

header {
	height: 60px;
	background: #ae2523;
	color: #fff;

}

#header-inner {
	min-width: 960px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px 0 0;
	height: 60px;
	background: #be2826;

}

#shh {
	float: left;
	margin: 0 15px 0 0;
}

header h1 {
	float: left;
	margin: 0 20px 0 0;
	font-family: 'Playfair Display';
	font-size: 40px;
	font-weight: 400;
	color: #fff;
}

#search-bar {
	float: left;
	height: 60px;
	line-height: 59px;
	margin: 0 20px 0 0;
}

#search-bar input {
	background: rgba(0, 0, 0, 0.1);
	height: 32px;
	padding: 5px 10px;
	border: none;
	color: #eee;
	font-size: 13px;
	width: 350px;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

#search-bar input:focus {
	outline: none;
}

#other-header-options {
	float: left;
	height: 60px;
	line-height: 59px;
}

#other-header-options ul {
	list-style-type: none;
	height: 60px;
	line-height: 59px;
	margin: 0;
	padding: 0;
}

#other-header-options ul li {
	display: inline-block;
	height: 40px;
	margin: 10px 10px 0 0;
}

#other-header-options ul li a {
	display: inline-block;
	float: left;
	line-height: 59px;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	line-height: 42px;
	color: #fff;
	text-decoration: none;
}

li.signup-login i.lock {
	color: #bc9b18;
}

li.signup-login i.user-unauthenticated {
	color: #bbb;
}

main {
	min-width: 960px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	color: #666;
}

#new-thread-body {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	height: 500px;
	margin: 0 0 15px 0;
	padding: 15px;
}

#new-thread-body:focus {
	outline: 0;
}

#submit-thread {
	background: #dd5654;
	color: #fff;
	outline: 0;
	border: 0;
	padding: 15px 25px;
}

#posting-info {
	display: inline-block;
	margin: 0 15px;
}
