* {
	box-sizing: border-box;
}

body {
	font-size: 15px;
	background: #f5f5f5;
}

h1, h2, h3, h4, h5 {
	font-family: 'Playfair Display';
	font-weight: 400;
	margin: 0 0 15px 0;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 15px;
}

header {
	height: 60px;
	background: #ae2523;
	color: #fff;

}

#header-inner {
	min-width: 960px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px 0 0;
	height: 60px;
	background: #be2826;

}

#shh {
	float: left;
	margin: 0 15px 0 0;
}

header h1 {
	float: left;
	margin: 0 20px 0 0;
	font-size: 40px;
	color: #fff;
}

#search-bar {
	float: left;
	height: 60px;
	line-height: 59px;
	margin: 0 20px 0 0;
}

#search-bar input {
	background: rgba(0, 0, 0, 0.1);
	height: 32px;
	padding: 5px 10px;
	border: none;
	color: #eee;
	font-size: 13px;
	width: 350px;
}

#search-bar input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

#search-bar input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

#search-bar input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

#search-bar input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

#search-bar input:focus {
	outline: none;
}

#other-header-options {
	float: left;
	height: 60px;
	line-height: 59px;
}

#other-header-options ul {
	list-style-type: none;
	height: 60px;
	line-height: 59px;
	margin: 0;
	padding: 0;
}

#other-header-options ul li {
	display: inline-block;
	height: 40px;
	margin: 10px 10px 0 0;
}

#other-header-options ul li a {
	display: inline-block;
	float: left;
	line-height: 59px;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	line-height: 42px;
	color: #fff;
	text-decoration: none;
}

li.signup-login i.lock {
	color: #bc9b18;
}

li.signup-login i.user-unauthenticated {
	color: #ccc;
}

main {
	min-width: 960px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 15px 25px;
	background: #fff;
	color: #666;
}

#new-thread-body {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	height: 400px;
	margin: 0;
	padding: 15px;
	color: #666;
}

#new-thread-body::-webkit-input-placeholder {
    color: #888;
}

#new-thread-body:-moz-placeholder {
    color: #888;
}

#new-thread-body::-moz-placeholder {
    color: #888;
}

#new-thread-body:-ms-input-placeholder {
    color: #888;
}

#new-thread-body:focus {
	outline: 0;
}

div.formatting-buttons {
	height: 30px;
	margin: 20px 0;
}

div.formatting-buttons ul {
	height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.formatting-buttons ul li {
	display: inline-block;
	margin: 0 15px 0 0;
	line-height: 29px;
	height: 30px;
	width: 30px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: 1px dotted #ccc;
	background: rgba(0, 0, 0, 0.04);
}

div.formatting-buttons ul li:active {
	color: #333;
	background: #ddd;
}

#submit-thread {
	background: #dd5654;
	color: #fff;
	outline: 0;
	border: 0;
	padding: 10px 55px;
}

#nope {
	display: inline-block;
	margin: 0 0 0 15px;
	padding: 10px 10px;
	cursor: pointer;
	color: #ccc;
	border: 1px dotted #ccc;
}

#nope.selected {
	color: #333;
	border: 1px dotted #aaa;
	background: #ddd;
}

#posting-info {
	display: inline-block;
	margin: 0 15px;
}

h2#home-intro {
	margin: 0 0 8px 0;
}

div.thread-preview {
	width: 100%;
	padding: 10px;
	cursor: pointer;
}

div.thread-preview a {
	text-decoration: none;
}

div.thread-preview:hover {
	background: rgba(0, 136, 204, 0.05);
}

h3.thread-title {
	margin: 0;
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #999;
}

span.thread-title-highlight {
	text-decoration: underline;
	color: #08c;
}
